@media only screen and (min-width: 768px) {
  header {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 1px;
    top: 1px;
  }

  #menu {
    display: none;
  }

  .navbar ul li {
    display: inline;
  }

  .text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 500px;
  }

  .headline {
    background-image: url("./img/header.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .works-section {
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 700px;
    grid-template-rows: repeat(4, 596px);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .card {
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 24px;
  }

  .card-1 {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .card-img-2 {
    order: 2;
  }

  .card-3 {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .card-img-3 {
    order: 1;
  }

  .card-4 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .card-img-4 {
    order: 2;
  }

  .card-img {
    margin-top: 20px;
    width: 270px;
    transition: all 0.4s ease;
    height: 350px;
    flex: 1.5;
  }

  .sub-item {
    margin-top: 20px;
  }

  .card-text {
    margin-top: 32px;
  }

  .tech-used {
    margin-top: 28px;
  }

  .see-project {
    margin-top: 52px;
  }

  .about-myself {
    height: 924px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 166px;
  }

  .text-holder-about {
    margin: 60px;
    margin-right: 1px;
  }

  .dropdown-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dropdown-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 120px;
  }

  .details-2 {
    display: flex;
    align-items: center;
  }

  .details-2-title {
    margin: 10px;
  }

  .contact {
    height: 779px;
    width: 100%;
    margin-top: -140px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-image: url("./img/contact2.png");
    background-color: rgb(96, 112, 255);
    align-items: center;
    padding: 100px 24px;
    border-top-left-radius: 100px;
  }

  .contact-text {
    width: 569px;
  }

  .contact-paragraph {
    transition: all 1s ease;
  }

  .contact-paragraph:hover {
    transform: translateX(50px);
  }

  .contact form {
    width: 447px;
  }

  .button {
    align-self: center;
  }

  .last-div {
    display: none;
  }
}

@media only screen and (min-width: 920px) {
  header {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 1px;
    top: 1px;
  }

  .logo {
    transition: all 3s ease-in;
  }

  #menu {
    display: none;
  }

  .navbar {
    padding: 25px 155px;
  }

  .navbar ul li {
    display: inline;
  }

  .text-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
    width: 920px;
  }

  .headline {
    background-image: url("./img/header.png");
    height: 916px;
  }

  .works-section {
    margin-top: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1156px;
    grid-template-rows: repeat(4, 496px);
    grid-column-gap: 10px;
    grid-row-gap: 142px;
  }

  .card {
    display: flex;
    flex-direction: row;
    height: 496px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    padding: 24px;
  }

  .card-1 {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .card-3 {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .card-4 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .card-img-1 {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-img-2 {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-img-3 {
    order: 2;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-img-4 {
    order: 2;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-img {
    margin-top: 20px;
    width: 544px !important;
    height: 448px !important;
    flex: 1;
  }

  .sub-item {
    margin-top: 20px;
  }

  .card-text {
    margin-top: 32px;
  }

  .tech-used {
    margin-top: 28px;
  }

  .see-project {
    margin-top: 52px;
  }

  .modalContainer {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(193, 199, 208, 0.9);
    z-index: 1;
  }

  .projectModal {
    display: flex;
    height: 90vh;
    max-height: 1163px;
    width: 1156px;
    overflow-y: scroll;
    border-radius: 16px;
    position: sticky;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(223, 225, 230);
    z-index: 1001;
    padding: 24px;
  }

  .tech-used-modal {
    display: flex;
    flex: 1;
    flex-flow: wrap;
    list-style: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(96, 112, 255);
    border-bottom: 1px solid #ebecf0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .tech-used-modal li {
    display: inline-block;
    background-color: rgb(235, 235, 255);
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    letter-spacing: 0.03em;
  }

  .modal-see {
    margin-top: 10px !important;
    width: 142px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: solid 1px rgb(96, 112, 255);
    border-radius: 10px;
    margin-left: 14px;
    transition: all 0.2s;
  }

  .modal-see a {
    text-decoration: none;
    color: rgb(96, 112, 255);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    flex: 3;
  }

  .modal-see i {
    align-self: flex-end;
    text-decoration: none;
    color: rgb(96, 112, 255);
    font-size: 17px;
    flex: 1;
    padding: 1px;
    text-align: center;
  }

  .modal-card-img {
    flex-shrink: 0;
    height: 586px;
    width: 100%;
    border-radius: 8px;
    align-self: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 36px;
    margin-bottom: 59px;
  }

  .modalTextContainer {
    display: flex;
    height: 382px;
    width: 778px;
    border-radius: 1px;
  }

  .modal-text {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 1px;
    padding: 1px;
  }

  .modalDetailsContainer {
    display: flex;
    flex-direction: row;
  }

  .about-myself {
    height: 924px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 166px;
  }

  .text-holder-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 35px;
  }

  .dropdown-item-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .dropdown-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 110px;
  }

  .details {
    transition: all 1s ease;
  }
  .details:hover {
    transform: translateX(50px);
  }

  .details-2 {
    display: flex;
    width: 684px;
    margin: 1px 35px;
    flex: 1;
    align-items: center;
  }

  .details-2-title {
    margin: 10px;
  }

  .contact {
    height: 779px;
    width: 100%;
    margin-top: -140px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-image: url("./img/contact2.png");
    background-color: rgb(96, 112, 255);
    align-items: center;
    padding: 100px 24px;
    border-top-left-radius: 100px;
  }

  .contact-text {
    width: 569px;
  }

  .contact form {
    width: 447px;
  }

  .button {
    align-self: center;
  }

  .last-div {
    display: none;
  }
}
