.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px;
  row-gap: 30px;
}

.home-page {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -10px;
}

li {
  list-style-type: none;
  padding: 5px;
  color: rgb(109, 109, 109);
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

a {
  color: rgb(10, 23, 145);
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  font-family: Poppins, sans-serif;
  justify-content: center;
}

.internal-link-mob li a {
  color: #fff;
  font-size: 30px;
}

.internal-link-mob li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  margin-top: 45px;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 10px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.internal-link-mob {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  justify-content: center;
  margin-top: -10px;
  margin-right: -40px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.7;
  text-decoration: none;
}

.closeBtn {
  position: absolute;
  top: 19px;
  right: 33px;
  font-size: 36px;
  margin-top: 12px;
  margin-right: 20px;
}

.internal-link-mobActive {
  width: 100%;
  margin: 0;
  padding-left: 40px !important;
  background-color: rgb(16, 37, 222) !important;
}

.line {
  background-color: rgb(13, 21, 30);
  height: 3px;
  width: 100px;
  margin-left: 100px;
  margin-top: 300px;
}

.title {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(96, 112, 255);
  line-height: 60px;
  text-align: start;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.div-text {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  width: 380px;
  padding-top: 30px;
}

.mob {
  display: block;
}

.dec {
  display: none;
}

.br {
  display: block;
}

.internal-link-dec {
  display: none;
}

.nav-dec {
  display: none;
}

.title-home-page {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: rgb(30, 29, 79);
  line-height: 60px;
  text-align: start;
  justify-content: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.dec-home-page {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: rgb(30, 29, 79);
  margin-top: -20px;
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
}

.footer h3 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: rgb(127, 140, 255);
  text-align: start;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  color: aqua;
  margin-right: 20px;
  margin-left: 10px;
}

.icon {
  list-style-type: none;
  padding: 10px;
}

.works {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px;
  row-gap: 30px;
}

.text h2 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: rgb(23, 43, 77);
  line-height: 40px;
  display: flex;
  margin-top: 5px;
  margin-bottom: -5px;
}

.tonic {
  display: block;
}

.face {
  display: none;
}

.list ul {
  display: flex;
  margin-left: -40px;
  align-items: flex-start;
}

.CANOPY {
  color: rgb(23, 30, 43);
}

.text p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: rgb(52, 69, 99);
  display: flex;
  justify-content: flex-start;
  width: 300px;
}

.button-list ul {
  display: flex;
  margin-left: -40px;
}

.button-list ul li {
  color: rgb(10, 23, 145);
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(235, 235, 255);
  margin-right: 13px;
}

.ruby {
  display: none;
}

button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn {
  background-color: white;
  border: 1.6px solid rgb(10, 23, 145);
  border-radius: 8px;
  color: rgb(10, 23, 145);
}

.about {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px;
  row-gap: 10px;
}

.options h3 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgb(8, 29, 66);
  line-height: 40px;
  display: flex;
  margin-top: 5px;
  margin-bottom: -5px;
}

.about-footer h3 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: rgb(127, 140, 255);
  text-align: start;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
  align-items: center;
}

.options ul {
  display: flex;
  flex-direction: column;
}

.pro {
  margin-left: -80px;
  display: flex;
  background-color: rgb(246, 246, 246);
  padding: 6px 18px;
  font-size: 16px;
  height: 45px;
  align-items: center;
  border-radius: 8px;
  justify-content: flex-start;
  margin-top: 10px;
  bottom: 10px;
}

.pro p {
  margin-left: 8px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: rgb(52, 69, 99);
}

.about-contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  color: aqua;
}

.bg {
  background-color: rgb(246, 246, 246);
  height: 2px;
  margin-top: 10px;
}

.contact-form {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px;
  row-gap: 30px;
}

.background {
  display: flex;
  justify-content: center;
}

.background-shape {
  display: flex;
  position: absolute;
  margin-left: 153px;
  margin-top: 30px;
}

.contact-text {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 55px;
  text-align: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  width: 380px;
  padding-top: 30px;
}

.contact-text p {
  color: rgb(214, 220, 229);
  font-size: 23px;
  margin-top: -20px;
  line-height: 25px;
  margin-left: 23px;
  margin-right: 23px;
}

.contact-text h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.form {
  display: flex;
  justify-content: flex-start;
}

.email {
  text-indent: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  margin: 15px 0 10px 0;
  height: 50px;
  width: 328px;
  border: 2px solid rgb(96, 112, 255);
}

.name {
  text-indent: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  border-radius: 10px;
  height: 50px;
  width: 328px;
  border: 2px solid rgb(96, 112, 255);
}

.message {
  padding-top: 20px;
  text-indent: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  height: 168px;
  width: 328px;
  border: 2px solid rgb(96, 112, 255);
}

.btn-submit {
  margin-right: 180px;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(96, 112, 255);
  color: rgb(72, 87, 223);
}

.btn-submit:hover {
  background-color: #6070ff;
  color: #fff;
}

/* for desctop version */
@media only screen and (min-width: 768px) {
  .mob {
    display: none;
  }

  .icon-menu {
    display: none;
  }

  .dec {
    display: block;
  }

  .internal-link-mob {
    display: none;
  }

  .nav-mob {
    display: none;
  }

  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px;
    row-gap: 30px;
  }

  .home-page {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }

  .nav-dec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
  }

  .internal-link-dec li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .internal-link-dec {
    display: flex;
    justify-content: space-between;
    min-width: 190px;
  }

  .title-home-page {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(30, 29, 79);
    line-height: 60px;
    text-align: start;
    justify-content: flex-start;
    margin-top: -20px;
  }

  .dec-home-page {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: rgb(30, 29, 79);
    margin-top: -20px;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer h3 {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(127, 140, 255);
    text-align: start;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contact ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    color: aqua;
    margin-right: 20px;
    margin-left: 10px;
  }

  .icon {
    list-style-type: none;
    padding: 10px;
  }

  .title {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(96, 112, 255);
    line-height: 60px;
    text-align: start;
    justify-content: center;
    align-items: center;
  }

  .div-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    width: 50%;
    padding-top: 30px;
  }

  .works {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px;
    row-gap: 30px;
  }

  .sections {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
  }

  .text h2 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(23, 43, 77);
    line-height: 40px;
    display: flex;
    margin-top: 40px;
    margin-bottom: -5px;
  }

  .tonic {
    display: none;
  }

  .face {
    display: block;
  }

  .br {
    display: none;
  }

  .list ul {
    display: flex;
    margin-left: -40px;
    align-items: flex-start;
  }

  .CANOPY {
    color: rgb(52, 69, 99);
  }

  .text p {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: rgb(52, 69, 99);
    display: flex;
    justify-content: flex-start;
    width: 500px;
  }

  .button-list ul {
    display: flex;
    margin-left: -40px;
  }

  .button-list ul li {
    color: rgb(96, 112, 255);
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(235, 235, 255);
    margin-right: 13px;
  }

  .ruby {
    display: block;
  }

  button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: white;
    border: 1.6px solid rgb(96, 112, 255);
    border-radius: 8px;
    color: rgb(96, 112, 255);
  }

  .about {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px;
    row-gap: 10px;
  }

  .section-about {
    display: flex;
    flex-direction: row;
    column-gap: 150px;
  }

  .options h3 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(8, 29, 66);
    line-height: 40px;
    display: flex;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .about-footer h3 {
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(127, 140, 255);
    text-align: start;
    justify-content: center;
  }

  .options {
    display: flex;
    flex-direction: row;
    column-gap: 300px;
    justify-content: space-between;
  }

  .options ul {
    display: flex;
    flex-direction: column;
  }

  .list-pro {
    display: flex;
    margin-left: -40px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .pro {
    margin-left: -40px;
    display: flex;
    background-color: rgb(246, 246, 246);
    padding: 6px 18px;
    font-size: 16px;
    height: 100px;
    width: 80px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    bottom: 10px;
  }

  .pro p {
    margin-left: 8px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: rgb(52, 69, 99);
  }

  .about-contact ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    color: aqua;
  }

  .bg {
    background-color: rgb(246, 246, 246);
    height: 2px;
    margin-left: -40px;
    margin-top: 10px;
  }

  .contact-form {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px;
    row-gap: 30px;
  }

  .background {
    display: flex;
    justify-content: center;
  }

  .background-shape {
    display: flex;
    position: absolute;
    margin-left: 153px;
    margin-top: 30px;
  }

  .contact-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 55px;
    text-align: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    padding-top: 30px;
    width: 580px;
  }

  .contact-text p {
    color: rgb(214, 220, 229);
    font-size: 23px;
    margin-top: -20px;
    line-height: 25px;
  }

  .contact-text h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email {
    text-indent: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    margin: 15px 0 10px 0;
    height: 50px;
    width: 500px;
    border: 2px solid rgb(96, 112, 255);
  }

  .name {
    text-indent: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    border: 2px solid rgb(96, 112, 255);
  }

  .message {
    padding-top: 20px;
    text-indent: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    height: 200px;
    width: 500px;
    border: 1px solid rgb(96, 112, 255);
  }

  .btn-submit {
    margin-left: 180px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(96, 112, 255);
    color: rgb(72, 87, 223);
  }

  .btn-submit:hover {
    background-color: #6070ff;
    color: #fff;
  }
}
