.container {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

a {
  width: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 70px;
  color: rgb(30, 29, 79);
  line-height: 60px;
  text-align: start;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.home_presentation p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: rgb(30, 29, 79);
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer h3 {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: rgb(158, 108, 255);
  text-align: start;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.home_presentation {
  background-image:
    url("./images/Ellipse 11.png"),
    url("./images/Rectangle 4.png"),
    url("./images/Ellipse\ 3.png"),
    url("./images/Ellipse\ 8.png"),
    url("./images/Ellipse\ 5.png"),
    url("./images/Rectangle\ 7.png"),
    url("./images/Ellipse 12.png"),
    url("./images/Ellipse 4.png"),
    url("./images/Rectangle\ 5.png"),
    url("./images/Ellipse\ 13.png"),
    url(".images/Ellipse\ 15.png");
  background-position:
    19px 79px,
    294px 68px,
    323px 102px,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  color: aqua;
  margin-right: 20px;
  margin-left: 10px;
}

.icon {
  list-style-type: none;
  padding: 10px;
  
}