body {
  margin: 0 0 0 0;
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-top: 50px;
}

.project_span {
  background-color: #c1c7d0;
  height: 100%;
  background-image: url('./image/fade_back.svg');
  background-repeat: no-repeat;
}

.project_span_desktop {
  background-color: #c1c7d0;
  background-image: url('./image/Headerbg.png');
  background-repeat: no-repeat;
}

#grb1,
#grb2,
#grb3,
#grb4 {
  display: none;
}

.project-info-desktop {
  display: flex;
  overflow-y: scroll;
}

.cross {
  float: right;
  margin-right: 20px;
  display: none;
}

.container {
  justify-content: center;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.container button {
  cursor: pointer;
}

/* HEADER SECTION */
.main {
  width: 100%;
  height: 718px;
  background-color: #ffff;
  border-radius: 0 0 0 100px;
}

.header {
  color: blue;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}

.headertrans {
  background-color: #6070ff;
}

.onclick {
  display: none;
}

.clicked {
  display: block;
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-left: 28px;
  text-decoration: none;
}

.clicked a:link,
.clicked a:visited {
  color: white;
  text-decoration: none;
}

.invisible {
  visibility: hidden;
}

.visible {
  display: block;
}

#prImage1,
#prImage2,
#prImage3,
#prImage4 {
  margin-left: 16px;
  padding-bottom: 10px;
  display: none;
}

.display-none {
  display: none;
}

.navbar {
  margin: auto 0;
  display: block;
  cursor: pointer;
}

#nav2 {
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  border: 1px solid blue;
  margin: 6px;
  background-color: blue;
  font-size: 0%;
}

.change .bar1 {
  background-color: white;
  border: 1px solid white;
  transform: rotate(-45deg) translate(-5px, 0);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
  background-color: white;
  border: 1px solid white;
  transform: rotate(45deg) translate(-10px, -8px);
}

.name-logo {
  width: 100px;
  height: 100px;
}

.name-logo:hover {
  animation-duration: 0.5s;
  animation-name: rotate;
}

.header-logo {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(96, 112, 255);
  line-height: 60px;
  text-align: start;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.body {
  display: flex;
  flex-direction: column;
  height: 610px;
  background-image: url("./image/header_background.svg");
  background-repeat: no-repeat;
}

.bodyTrans {
  background-image: url('./image/fade_back.svg');
  background-color: #6070ff;
}

.name {
  margin: 0 24px 12px 24px;
  line-height: 52px;
  color: #172b4d;
}

.name h1 {
  margin: 90px 0 0 0;
  font-size: 40px;
}

.name h2 {
  margin: 0 0 0 0;
  font-size: 40px;
}

.description {
  font-family: Popinns-light, Arial, Helvetica, sans-serif;
  margin: 0 24px 0 24px;
  margin-top: 0;
  height: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.contact {
  margin: 12px 0 12px 24px;
  color: #142cff;
}

.connect-logo {
  margin-left: 24px;
  display: flex;
}

.logo-div {
  display: flex;
  justify-content: space-between;
  width: 163.5px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

/* WORK SECTION */
.work_section {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
  margin-top: 26px;
}

.project {
  padding-left: 24px;
  padding-right: 24px;
}

.project1 {
  flex-direction: column;
  align-items: flex-end;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding-top: 16px;
  width: 100%;
  margin: 0 0 0 0;
}

.profile_snapshoot {
  width: 90%;
  transition: all 0.5s;
  margin-left: 17px;
}

/* Project1 H1 tag "Tonic"   */
.project1-h1 {
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
  font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
  line-height: 44px;
  margin: 12px 0 0 16px;
}

/* Project 1 unorder list holdin canopy Back End Dev 2022 */
.project1-ul {
  padding: 0 0 10px 0;
  margin: 20px 0 20px 16px;
}

/* List items inside the .project1-ul   */
.project1-ul li {
  color: #444c5a;
  margin-left: 20px;
  float: left;
  font-size: 13px;
}

li[id^='can'] {
  color: #344563;
  list-style-type: none;
  margin-left: 0;
}

/* project1 paragraph     */
.project1-para {
  font-size: 15px;
  font-family: Poppins-Light, Arial, Helvetica, sans-serif;
  margin: 0 16px 0 16px;
}

.project-button {
  margin: 0 0 0 16px;
}

.project-button ul {
  display: flex;
  padding-left: 0;
}

.project-button li {
  list-style-type: none;
}

.project-button button {
  margin-right: 20px;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  background-color: #ebebff;
  border-width: 0;
  color: #0018f0;
  font-size: 12px;
  list-style-type: none;
}

.see-project {
  display: flex;
}

.see-project-button,
.see-source-button,
.see-live-button {
  /* .see-project button { */
  margin: 0 0 30px 16px;
  border-radius: 8px;
  font-size: 17px;
  background-color: #ebebff;
  border: 2px solid #6070ff;
  color: #1430ff;
  padding: 12px;
}

.see-source-button,
.see-live-button {
  display: none;
}

/* About Myself and Contact Me flexbox */
.am-contact {
  display: flex;
  flex-direction: column;
}

/* ABOUT MUSELF SECTION */
.about_myself {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1263px;
  border-radius: 0 100px 0 0;
  background-color: #fff;
}

.am-menu {
  padding-left: 0;
  padding-right: 66px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: Popins-Light, Arial, Helvetica, sans-serif;
}

.amlogo-div {
  margin-left: 24px;
  display: flex;
  justify-content: space-between;
  width: 163.5px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.lang-logo {
  padding-top: 60px;
  padding-left: 26px;
  float: right;
}

.lan-text {
  margin-bottom: 36px;
  margin-top: 60px;
  width: 237px;
}

.javascript {
  display: flex;
  background-color: #f7f7f9;
  border: 6px solid white;
  border-radius: 8px;
}

.html {
  display: flex;
  background-color: #f7f7f9;
  border: 6px solid white;
  border-radius: 8px;
}

.css {
  display: flex;
  background-color: #f7f7f9;
  border: 6px solid white;
  border-radius: 8px;
}

.ln-image {
  width: 48px;
  height: 48px;
}

.ln-text {
  font-size: 15px;
  font-weight: 500;
  font-family: Poppins-light, Arial, Helvetica, sans-serif;
  line-height: 20px;
  padding: 21px 12px 21.72px 16px;
}

.languages {
  margin-left: 36px;
}

.frame {
  margin-left: 36px;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0 23px 0;
  display: flex;
  justify-content: space-between;
}

.skills {
  margin-left: 36px;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0 23px 0;
  display: flex;
  justify-content: space-between;
}

#p5 {
  margin-top: 114px;
}

/* About Myself heading */
.am_heading {
  font-family: Poppins-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  padding: 114px 0 12px 24px;
  height: 101px;
  text-align: left;
  word-spacing: 100px;
  margin: 0 0 0 0;
}

.am_description {
  font-family: Poppins-Light, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 16px 16px 16px;
}

.lang-menu {
  display: flex;
  justify-content: space-between;
}

/* About Myself nav section fro languages, Frame work, html, css secktion */

/* CONTACT ME SECTION  */

.contact_me {
  display: flex;
  flex-direction: column;
  background-image: url("./image/contact-form-background.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 779px;
  background-color: #1a30ff;
  border-radius: 100px 0 0 0;
  margin-top: 113.5px;
  padding-top: 103px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.contact_me h1 {
  font-size: 40px;
}

.contact_me p {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 20px;
  margin-bottom: 29px;
}

.contact_me input {
  height: 48px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 311px;
  font-size: 17px;
  transition: font-size 0.25s;
}

.contact_me input:hover {
  font-size: 25px;
}

#text-box {
  width: 327px;
  height: 160px;
  border-radius: 8px;
}

.contact-ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.contact-ul button {
  margin: 0 0 0 0;
  border-radius: 8px;
  font-size: 17px;
  background-color: #ebebff;
  border: 2px solid #6070ff;
  color: #1430ff;
  padding: 12px;
  float: left;
  margin-left: 24px;
}

.get-in-touch button {
  margin-top: 22px;
  float: left;
}

.end-line {
  float: left;
  border-radius: 20px;
  height: 5px;
  width: 134px;
  margin-top: 80px;
  border: 2px solid black;
  background-color: black;
}

.contact_me h2 {
  font-size: 40px;
  margin-top: 103px;
}

.contact_me #text-box {
  padding-left: 16px;
  padding-top: 15px;
  width: 311px;
}

.partation {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .body {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .body > div {
    margin-left: 260px;
    margin-right: 260px;
  }

  .body > h3 {
    margin-left: 260px;
  }

  .main {
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
  }

  #nav1 {
    display: none;
  }

  #nav2 {
    display: flex;
  }

  #nav2 > a {
    text-decoration: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    border: none;
    font-size: 15px;
    background-color: white;
    color: black;
    width: auto;
    height: auto;
    font-weight: lighter;
    margin-left: 32px;
  }

  .header {
    margin-right: 154px;
  }

  .project {
    padding: 40px 142px 40px 142px;
  }

  .profile_snapshoot {
    margin-left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  .project1 {
    display: flex;
  }

  .project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 17px 17px 17px 17px;
  }

  .project-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 23px;
    margin-bottom: 120px;
    margin-right: 46px;
  }

  .about_myself {
    width: 100%;
  }

  .am-main {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .am-content {
    margin-left: 142px;
  }

  .amlogo-div {
    margin-left: 0;
  }

  .lang-button {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-right: 15%;
  }

  .lang-button div {
    display: flex;
    flex-direction: column;
    transition: background-color 0.25s;
  }

  .lang-button div:hover {
    background-color: lightgray;
  }

  .ln-image {
    margin-left: 12px;
    margin-top: 12px;
  }

  .contact_me {
    width: auto;
  }

  .contact_me p {
    margin-left: 25%;
    margin-right: 25%;
  }

  .contact-ul input {
    width: 447px;
    border-radius: 0;
    border-style: none;
  }

  .contact-ul #text-box {
    width: 447px;
    border-radius: 0;
  }

  .contact-ul button {
    float: none;
    background-color: white;
  }

  .see-project button {
    background-color: white;
  }

  .project-button ul button {
    transition: background-color, color 0.25s;
  }

  .see-project button:hover {
    background-color: #396df2;
    color: white;
  }

  .contact-ul button:hover {
    background-color: #396df2;
    color: white;
  }

  .project-button ul button:hover {
    color: white;
    background-color: #396df2;
  }
}
